---
import Layout from "../../layouts/Layout.astro";
import { generateDB, productosactivos } from "../db/dbutils";

const queryParams = Object.fromEntries(Astro.url.searchParams.entries());
console.log("Query Params====> ", queryParams, queryParams.bd);
//
//Query params esperados:
// bd; //URL Google de la base de datos alterna (opcional)
// grupo; //Grupo de meracancia a mostrar a la entrada (opcional)
// subgrupo = queryParams.subgrupo; //SubGrupo de meracancia a mostrar a la entrada (opcional)
// soloOferta = queryParams.soloOferta; //Bool  (opcional)
const {
  bd: querybd,
  grupo,
  subgrupo,
  soloOferta,
  ...queryparamsLeft
} = queryParams;

// queryParams.bd && (await generateDB(queryParams.bd));

// !productosactivos
//   ? await generateDB()
//   : console.log("No se requiere bajar la Base de Datos");

generateDB();
---

<Layout title="Tiendas Pijamas">
  <!-- <main><Counter client:load /></main> -->
  <main></main>
</Layout>
