---
import Layout from "../../../layouts/Layout.astro";
import ProductCard from "../../../components/ProductCard.astro";
import { generateDB, productosactivos } from "../../../db/dbutils";

!productosactivos
  ? await generateDB()
  : console.log("No se requiere bajar la Base de Datos");

const { rubro, grupo } = Astro.params;

const queryParams = Object.fromEntries(Astro.url.searchParams.entries());
console.log("Query Params====> ", queryParams);

var displayProducts = productosactivos
  .filter(
    (producto) =>
      rubro.toUpperCase() === producto[1] && grupo.toUpperCase() === producto[2]
  )
  .filter((producto) =>
    queryParams?.oferta === "true" ? (producto[7] ? true : false) : true
  )
  .map((producto) => {
    // Define keys for the object
    const keys = [
      "ref",
      "gru",
      "subg",
      "pre",
      "act",
      "preX",
      "preY",
      "preOfe",
      "ofeX",
      "ofeY",
      "ofeColor",
      "il1",
      "il2",
      "il3",
      "infX",
      "infY",
      "infColor",
    ];

    // Create an object from the array with predefined keys
    const productObj = keys.reduce((obj, key, index) => {
      obj[key] = producto[index];
      return obj;
    }, {});

    return productObj;
  });
---

<!-- ---
import Layout from "../../../layouts/Layout.astro";
const { rubro, grupo } = Astro.params;
---

<Layout title="Tiendas Pijamas">
  <div
    class="text-moradobasicoOscuro w-full h-screen flex justify-center items-center font-bold text-2xl"
  >
    MODELOS DE DAMAS {rubro}
    {grupo}...
  </div>
</Layout>
 -->
<Layout title="Tiendas Pijamas">
  <div
    class="p-4
          md:px-24
          pb-32
          w-full
          h-lvh
          grid
          grid-cols-2
          md:grid-cols-4
          gap-2 md:gap-6
          overflow-scroll
          justify-start
          items-start
          text-sm
          object-contain"
  >
    {
      displayProducts.map((product) => (
        <ProductCard className="self-start" product={product} />
      ))
    }
  </div>
</Layout>
